@import 'colors';
header{
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    background-color: $pink;
    >div{
        display: flex;
        justify-content: center;
        align-items: center;
        >svg{
            color: $reddark;
        }
        >a{
            margin-right: 1.6rem;
            border: 2px solid $reddark;
            border-radius: 10%;
            padding: 0.3rem;
            text-decoration: none;
            font-weight: 500;
            color: $lightdark;
            
            
            &:hover{
                background-color: $reddark;
                color: $pink;
                border-radius: 10%;
            }
            &:focus{
                outline: none;
            }
        }
        
    }
}