@import 'colors';

#menu{
    padding: 2rem;
    >h2{
        text-align: center;
        text-transform: uppercase;
        color: $lightdark;
        margin-bottom: 2rem;
    }
    >div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       
        
        
    }
   
    
}

